body
{
  font-family: monospace;
  text-decoration: none;
  background-color: black;
  color: #dddddd;
}
a
{
  font-family: monospace;
  text-decoration: none;
  background-color: black;
  color: #00ff00;
}
